<%= form_for(@user, html: { class: 'Form' }) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="Form-group input-group">
    <%= f.label :name, class: 'Form-label input-group-addon' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="Form-group input-group">
    <%= f.label :money, class: 'Form-label input-group-addon' %>
    <%= f.number_field :money, class: 'form-control' %>
  </div>
  <div class="Form-actions">
    <%= f.submit class: 'Form-action btn btn-primary' %>
    <% if(@user.new_record?) %>
      <%= link_to 'Cancel', users_path, class: "Form-action btn btn-danger" %>
    <% else %>
      <%= link_to 'Cancel', @user, class: "Form-action btn btn-danger" %>
    <% end %>
  </div>
<% end %>
