<p id="notice"><%= notice %></p>

<div class="Users">
  <table class="Users-table">
    <thead>
      <tr class="Users-header">
        <th>Name</th>
        <th>Coffees</th>
        <th>Money</th>
        <th>Balance</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <tr class="Users-row" onclick="goTo('<%= user_path(user) %>')">
          <td><%= user.name %></td>
          <td><%= user.coffees.count %></td>
          <td><%= number_to_currency(user.money / 100.0, unit: '€') %></td>
          <td><%= number_to_currency(user.balance / 100.0, unit: '€') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New User', new_user_path %>
