<div class="Users">
  <table class="Users-table">
    <thead>
      <tr class="Users-header">
        <th>Name</th>
        <th>Credit</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr class="Users-row" onclick="goTo('<%= user_path(user) %>')">
          <td><%= user.name %></td>
          <td class="<%= (user.credit < 0 ? 'User--warn' : '') %>">
            <%= number_to_currency(user.credit / 100.0, unit: '€') %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New User', new_user_path %>
