<p id="notice"><%= notice %></p>

<div class="User-info">
  <div class="User-line User-name">
    <%= image_tag "user.png" %>
    <p class="User-text"><%= @user.name %></p>
  </div>

  <div class="User-line User-credit">
    <%= image_tag "credit.png" %>
    <p class="User-text"><%= number_to_currency(@user.credit / 100.0, unit: '€') %></p>
  </div>

  <div class="User-line User-coffees" onclick="goTo('<%= user_coffees_path(@user) %>')">
    <%= image_tag "mug.png" %>
    <p class="User-text"><%= @user.coffees.count %></p>
  </div>
</div>

<div class="User-actions">
  <form class="User-action" method="POST" action="/users/<%= @user.id %>/money">
    <div class="input-group">
      <input class="form-control" type="number" id="user_money" name="user[money]" value="50"></input>
      <span class="input-group-btn">
        <input class="btn btn-default" type="submit" value="Add money"></input>
      </span>
    </div>
  </form>

  <form class="User-action" method="POST" action="<%= user_coffees_path(@user) %>">
    <input class="btn btn-default" type="submit" value="Add coffee"></input>
  </form>

  <div class="User-action" >
    <%= link_to 'Edit', edit_user_path(@user.to_model) %> |
    <%= link_to 'Back', users_path %>
  <div>
</div>
